* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d0b21;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #c69cff;
}

.navbar a {
    color: #fff;
    margin-left: 30px;
    text-decoration: none;
}

.navbar a.active {
    color: #c69cff;
}

/* HERO */
.projects-hero {
    text-align: center;
    margin-top: 80px;
}

.projects-hero h1 {
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    color: #d6b3ff;
}

.line {
    width: 80px;
    height: 3px;
    background: #d6b3ff;
    margin: 12px auto;
    border-radius: 10px;
}

.subtitle {
    color: #aaa;
    margin-top: 10px;
}

/* PROJECT GRID */
.projects-grid {
    max-width: 1100px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

/* PROJECT CARD */
.project-card {
    background: rgba(255,255,255,0.08);
    padding: 30px;
    border-radius: 16px;
    transition: 0.3s ease;
    border: 1px solid rgba(255,255,255,0.1);
}

.project-card:hover {
    transform: translateY(-10px);
    background: rgba(255,255,255,0.12);
}

.project-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    color: #e7ceff;
}

.project-card p {
    color: #ddd;
    margin-bottom: 15px;
}

.tech {
    font-size: 14px;
    color: #c69cff;
    margin-bottom: 20px;
}

/* BUTTON */
.btn {
    display: inline-block;
    padding: 10px 18px;
    border: 1px solid #d6b3ff;
    color: #d6b3ff;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn:hover {
    background: #d6b3ff;
    color: #0d0b21;
}
